In [25]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.max_columns = 100
'''try:
    movies = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/movies_metadata.csv')
    keywords = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/keywords.csv')
    credits = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/credits.csv')
    links = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/links.csv')
    ratings = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/keywords.csv')
    links = pd.read_csv('C:/Users/juanj/Documents/3ercuatri/modelado/modelado_p1/links.csv')'''

movies = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/movies_metadata.csv')
keywords = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/keywords.csv')
credits = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/credits.csv')
links = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/links.csv')
ratings = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/keywords.csv')
links = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/links.csv')
pd.set_option('display.max_rows',1000)
generos1=pd.read_csv('./generos1.csv')
relacion_movie_id_generos=pd.read_csv('./relacion movie_id_generos.csv')
import ast

'''print(ast.literal_eval(movies['genres'].iloc[0]))
print(ast.literal_eval(movies['g'].iloc[0]))'''

#print(movies['genres'].iloc[0])
relacion_movie_id_generos

C:\Users\juanj\AppData\Local\Temp\ipykernel_12092\1180682409.py:13: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('C:/Users/juanj/OneDrive/Documentos/3er cuatri/modelado/modelado_p1/movies_metadata.csv')

      movie_id  genres_id
0          862         16
1          862         35
2          862      10751
3         8844         12
4         8844         14
...        ...        ...
91022   439050      10751
91023   111109         18
91024    67758         28
91025    67758         18
91026    67758         53

[91027 rows x 2 columns]